In [ ]:
import tensorflow as tf
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.layers import Embedding, LSTM, Dense, Bidirectional
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/spam.csv" , encoding = "utf-8" ,
                encoding_errors = "ignore" )

In [ ]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
df.replace({"ham":0 , "spam":1} , inplace = True)

In [ ]:
Y = df.v1.tolist()

In [ ]:
X = df.v2.tolist()

In [ ]:
len(X)

5572

In [ ]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
tokenizer = Tokenizer(num_words = 100)
tokenizer.fit_on_texts(X)
word_index = tokenizer.word_index

In [ ]:
vocab_size=5572
embedding_dim=16
max_length=max([len(item.split()) for item in X])
trunc_type='post'
padding_type='post'
oov_tok="<oov>"
training_size=2000

In [ ]:
max([len(item.split()) for item in X])

171

In [ ]:
train_x = X[0:training_size]
test_x = X[training_size:]
train_y = Y[0:training_size]
test_y = Y[training_size:]

In [ ]:
tokenizer=Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(train_x)

word_index=tokenizer.word_index

training_sequences=tokenizer.texts_to_sequences(train_x)
training_padded=pad_sequences(training_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)

testing_sequences=tokenizer.texts_to_sequences(test_x)
testing_padded=pad_sequences(testing_sequences, maxlen=max_length,padding=padding_type, truncating=trunc_type )

In [ ]:
training_padded=np.array(training_padded)
training_labels=np.array(train_y)
testing_padded=np.array(testing_padded)
testing_labels=np.array(test_y)

In [ ]:
model=tf.keras.Sequential([
    tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
    tf.keras.layers.GlobalAveragePooling1D(),
    tf.keras.layers.Dense(24, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 171, 16)           89152

 global_average_pooling1d (G  (None, 16)               0
 lobalAveragePooling1D)

 dense (Dense)               (None, 24)                408

 dense_1 (Dense)             (None, 1)                 25

=================================================================
Total params: 89,585
Trainable params: 89,585
Non-trainable params: 0
_________________________________________________________________

In [ ]:
num_epochs=50
history=model.fit(training_padded, training_labels, epochs=num_epochs, validation_data=(testing_padded, testing_labels), verbose=2)

Epoch 1/50
63/63 - 2s - loss: 0.6255 - accuracy: 0.8400 - val_loss: 0.5292 - val_accuracy: 0.8693 - 2s/epoch - 28ms/step
Epoch 2/50
63/63 - 1s - loss: 0.4448 - accuracy: 0.8600 - val_loss: 0.3753 - val_accuracy: 0.8693 - 553ms/epoch - 9ms/step
Epoch 3/50
63/63 - 1s - loss: 0.3840 - accuracy: 0.8600 - val_loss: 0.3649 - val_accuracy: 0.8693 - 567ms/epoch - 9ms/step
Epoch 4/50
63/63 - 1s - loss: 0.3761 - accuracy: 0.8600 - val_loss: 0.3579 - val_accuracy: 0.8693 - 556ms/epoch - 9ms/step
Epoch 5/50
63/63 - 0s - loss: 0.3675 - accuracy: 0.8600 - val_loss: 0.3498 - val_accuracy: 0.8693 - 418ms/epoch - 7ms/step
Epoch 6/50
63/63 - 1s - loss: 0.3567 - accuracy: 0.8600 - val_loss: 0.3392 - val_accuracy: 0.8693 - 591ms/epoch - 9ms/step
Epoch 7/50
63/63 - 1s - loss: 0.3424 - accuracy: 0.8600 - val_loss: 0.3244 - val_accuracy: 0.8693 - 576ms/epoch - 9ms/step
Epoch 8/50
63/63 - 1s - loss: 0.3206 - accuracy: 0.8600 - val_loss: 0.3010 - val_accuracy: 0.8693 - 556ms/epoch - 9ms/step
Epoch 9/50
63/63 - 1s - loss: 0.2862 - accuracy: 0.8600 - val_loss: 0.2633 - val_accuracy: 0.8693 - 532ms/epoch - 8ms/step
Epoch 10/50
63/63 - 1s - loss: 0.2337 - accuracy: 0.8765 - val_loss: 0.2131 - val_accuracy: 0.8933 - 559ms/epoch - 9ms/step
Epoch 11/50
63/63 - 0s - loss: 0.1757 - accuracy: 0.9350 - val_loss: 0.1651 - val_accuracy: 0.9373 - 413ms/epoch - 7ms/step
Epoch 12/50
63/63 - 0s - loss: 0.1261 - accuracy: 0.9655 - val_loss: 0.1264 - val_accuracy: 0.9633 - 401ms/epoch - 6ms/step
Epoch 13/50
63/63 - 1s - loss: 0.0920 - accuracy: 0.9795 - val_loss: 0.1040 - val_accuracy: 0.9684 - 556ms/epoch - 9ms/step
Epoch 14/50
63/63 - 1s - loss: 0.0710 - accuracy: 0.9845 - val_loss: 0.0909 - val_accuracy: 0.9706 - 570ms/epoch - 9ms/step
Epoch 15/50
63/63 - 1s - loss: 0.0570 - accuracy: 0.9855 - val_loss: 0.0815 - val_accuracy: 0.9740 - 547ms/epoch - 9ms/step
Epoch 16/50
63/63 - 1s - loss: 0.0482 - accuracy: 0.9885 - val_loss: 0.0739 - val_accuracy: 0.9790 - 552ms/epoch - 9ms/step
Epoch 17/50
63/63 - 1s - loss: 0.0407 - accuracy: 0.9895 - val_loss: 0.0695 - val_accuracy: 0.9796 - 538ms/epoch - 9ms/step
Epoch 18/50
63/63 - 0s - loss: 0.0365 - accuracy: 0.9915 - val_loss: 0.0674 - val_accuracy: 0.9790 - 394ms/epoch - 6ms/step
Epoch 19/50
63/63 - 1s - loss: 0.0320 - accuracy: 0.9915 - val_loss: 0.0672 - val_accuracy: 0.9784 - 557ms/epoch - 9ms/step
Epoch 20/50
63/63 - 1s - loss: 0.0281 - accuracy: 0.9920 - val_loss: 0.0625 - val_accuracy: 0.9826 - 546ms/epoch - 9ms/step
Epoch 21/50
63/63 - 0s - loss: 0.0254 - accuracy: 0.9930 - val_loss: 0.0605 - val_accuracy: 0.9812 - 405ms/epoch - 6ms/step
Epoch 22/50
63/63 - 0s - loss: 0.0239 - accuracy: 0.9925 - val_loss: 0.0605 - val_accuracy: 0.9815 - 382ms/epoch - 6ms/step
Epoch 23/50
63/63 - 0s - loss: 0.0207 - accuracy: 0.9940 - val_loss: 0.0584 - val_accuracy: 0.9835 - 414ms/epoch - 7ms/step
Epoch 24/50
63/63 - 1s - loss: 0.0188 - accuracy: 0.9945 - val_loss: 0.0602 - val_accuracy: 0.9812 - 531ms/epoch - 8ms/step
Epoch 25/50
63/63 - 1s - loss: 0.0174 - accuracy: 0.9960 - val_loss: 0.0596 - val_accuracy: 0.9818 - 539ms/epoch - 9ms/step
Epoch 26/50
63/63 - 1s - loss: 0.0153 - accuracy: 0.9955 - val_loss: 0.0631 - val_accuracy: 0.9807 - 524ms/epoch - 8ms/step
Epoch 27/50
63/63 - 1s - loss: 0.0147 - accuracy: 0.9955 - val_loss: 0.0565 - val_accuracy: 0.9835 - 542ms/epoch - 9ms/step
Epoch 28/50
63/63 - 0s - loss: 0.0132 - accuracy: 0.9960 - val_loss: 0.0558 - val_accuracy: 0.9838 - 420ms/epoch - 7ms/step
Epoch 29/50
63/63 - 1s - loss: 0.0120 - accuracy: 0.9955 - val_loss: 0.0555 - val_accuracy: 0.9835 - 548ms/epoch - 9ms/step
Epoch 30/50
63/63 - 1s - loss: 0.0114 - accuracy: 0.9960 - val_loss: 0.0570 - val_accuracy: 0.9832 - 561ms/epoch - 9ms/step
Epoch 31/50
63/63 - 0s - loss: 0.0102 - accuracy: 0.9975 - val_loss: 0.0571 - val_accuracy: 0.9832 - 413ms/epoch - 7ms/step
Epoch 32/50
63/63 - 1s - loss: 0.0094 - accuracy: 0.9975 - val_loss: 0.0605 - val_accuracy: 0.9824 - 544ms/epoch - 9ms/step
Epoch 33/50
63/63 - 0s - loss: 0.0090 - accuracy: 0.9980 - val_loss: 0.0556 - val_accuracy: 0.9835 - 403ms/epoch - 6ms/step
Epoch 34/50
63/63 - 0s - loss: 0.0079 - accuracy: 0.9975 - val_loss: 0.0610 - val_accuracy: 0.9824 - 399ms/epoch - 6ms/step
Epoch 35/50
63/63 - 0s - loss: 0.0074 - accuracy: 0.9980 - val_loss: 0.0605 - val_accuracy: 0.9826 - 429ms/epoch - 7ms/step
Epoch 36/50
63/63 - 0s - loss: 0.0071 - accuracy: 0.9975 - val_loss: 0.0572 - val_accuracy: 0.9835 - 445ms/epoch - 7ms/step
Epoch 37/50
63/63 - 1s - loss: 0.0065 - accuracy: 0.9980 - val_loss: 0.0573 - val_accuracy: 0.9835 - 548ms/epoch - 9ms/step
Epoch 38/50
63/63 - 1s - loss: 0.0058 - accuracy: 0.9990 - val_loss: 0.0619 - val_accuracy: 0.9829 - 548ms/epoch - 9ms/step
Epoch 39/50
63/63 - 1s - loss: 0.0056 - accuracy: 0.9985 - val_loss: 0.0571 - val_accuracy: 0.9838 - 517ms/epoch - 8ms/step
Epoch 40/50
63/63 - 0s - loss: 0.0048 - accuracy: 1.0000 - val_loss: 0.0641 - val_accuracy: 0.9824 - 419ms/epoch - 7ms/step
Epoch 41/50
63/63 - 0s - loss: 0.0049 - accuracy: 0.9990 - val_loss: 0.0584 - val_accuracy: 0.9838 - 401ms/epoch - 6ms/step
Epoch 42/50
63/63 - 1s - loss: 0.0045 - accuracy: 1.0000 - val_loss: 0.0627 - val_accuracy: 0.9829 - 543ms/epoch - 9ms/step
Epoch 43/50
63/63 - 1s - loss: 0.0042 - accuracy: 1.0000 - val_loss: 0.0601 - val_accuracy: 0.9835 - 547ms/epoch - 9ms/step
Epoch 44/50
63/63 - 1s - loss: 0.0040 - accuracy: 0.9995 - val_loss: 0.0592 - val_accuracy: 0.9838 - 555ms/epoch - 9ms/step
Epoch 45/50
63/63 - 1s - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0628 - val_accuracy: 0.9829 - 1s/epoch - 18ms/step
Epoch 46/50
63/63 - 1s - loss: 0.0037 - accuracy: 1.0000 - val_loss: 0.0617 - val_accuracy: 0.9832 - 750ms/epoch - 12ms/step
Epoch 47/50
63/63 - 1s - loss: 0.0033 - accuracy: 0.9995 - val_loss: 0.0692 - val_accuracy: 0.9818 - 722ms/epoch - 11ms/step
Epoch 48/50
63/63 - 1s - loss: 0.0032 - accuracy: 1.0000 - val_loss: 0.0671 - val_accuracy: 0.9824 - 830ms/epoch - 13ms/step
Epoch 49/50
63/63 - 1s - loss: 0.0030 - accuracy: 1.0000 - val_loss: 0.0646 - val_accuracy: 0.9826 - 789ms/epoch - 13ms/step
Epoch 50/50
63/63 - 1s - loss: 0.0028 - accuracy: 1.0000 - val_loss: 0.0634 - val_accuracy: 0.9832 - 616ms/epoch - 10ms/step